<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin page</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var qc;
        var hinh;
        $(document).ready(() => {
            var socket = io();
            socket.on('SERVER_CHANGE_AD', ad => {
              if(ad != null){
                $('#img-quang-cao').attr('src', `images/${ad.hinh}`);
                hinh = ad.hinh;
                qc = 'http://'+ad.link;
              }
            });
            $('#img-quang-cao').click(() => {
              socket.emit('CLIENT_CLICK_AD', hinh)
              window.open(qc, '_blank');
            });
        });

    </script>
</head>

<body>
    <a id="a-quang-cao" href="#"><img src="" id="img-quang-cao"/></a>
    <div id="left_calculator">
        <div class="block_timer_share">
            <div class="block_timer left txt_666">
                Thứ hai, 19/12/2016 | 01:54 GMT+7 </div>
            <div class="block_share right">
                <a class="btn_facebook" rel="nofollow" href="javascript:;" title="Chia sẻ bài viết lên facebook">
                    <img alt="Chia sẻ bài viết lên facebook" src="http://st.f1.thethao.vnecdn.net/i/v2/graphics/icon_fb.gif">
                </a>
                <a class="btn_twitter" rel="nofollow" href="javascript:;" id="twitter" data-url="http://bit.ly/2hgfo91" title="Chia sẻ bài viết lên twitter">
                    <img alt="Chia sẻ bài viết lên twitter" src="http://st.f1.thethao.vnecdn.net/i/v2/graphics/icon_tw.gif">
                </a>
                <a class="btn_google" rel="nofollow" href="javascript:;" title="Chia sẻ bài viết lên google+">
                    <img alt="Chia sẻ bài viết lên google+" src="http://st.f1.thethao.vnecdn.net/i/v2/graphics/icon_google.gif">
                </a>
                <span class="drash_share">|</span>
                <a rel="nofollow" href="javascript:;" onclick="common.printContent();" title="Print"><img alt="Print" src="http://st.f1.thethao.vnecdn.net/i/v2/graphics/icon_print.gif"></a>
                <a rel="nofollow" href="javascript:;" class="login_5" title="Email"><img alt="Email" src="http://st.f1.thethao.vnecdn.net/i/v2/graphics/icon_letter.gif"></a>
            </div>
        </div>
        <div class="title_news">
            <h1>
                                        Siêu phẩm sút xa đưa Bayern trở lại đỉnh Bundesliga                                    </h1>
        </div>
        <h3 class="short_intro txt_666">Tiền vệ Douglas Costa có bàn thắng đẹp mắt giúp Bayern đánh bại Darmstadt với tỷ số 1-0 ở vòng 15.                                </h3>
        <div class="relative_new">
            <ul class="list_news_dot_3x3_300">
                <li>
                    <a alt="RB Leipzig tái chiếm ngôi đầu của Bayern" title="RB Leipzig tái chiếm ngôi đầu của Bayern" href="http://thethao.vnexpress.net/tin-tuc/cac-giai-khac/rb-leipzig-tai-chiem-ngoi-dau-cua-bayern-3515200.html">RB Leipzig tái chiếm ngôi đầu của Bayern</a>&nbsp;/&nbsp;
                    <a
                        alt="Bayern lên đỉnh Bundesliga, RB Leipzig thua trận đầu tiên" title="Bayern lên đỉnh Bundesliga, RB Leipzig thua trận đầu tiên" href="http://thethao.vnexpress.net/tin-tuc/cac-giai-khac/bayern-len-dinh-bundesliga-rb-leipzig-thua-tran-dau-tien-3511691.html">Bayern lên đỉnh Bundesliga, RB Leipzig thua trận đầu tiên</a>
                </li>
            </ul>
        </div>
        <div class="fck_detail width_common block_ads_connect">
            <table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <img alt="sieu-phm-sut-xa-dua-bayern-tro-lai-dinh-bundesliga" data-natural-width="500" src="http://img.f1.thethao.vnecdn.net/2016/12/19/dg-jpeg-5772-1482087177.jpg" data-width="500" data-pwidth="470.40625" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="Image">
                                Douglas Costa (trái) vui mừng sau bàn thắng. Ảnh:&nbsp;<em>Reuters.</em></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Bàn thắng duy nhất của trận đấu được Douglas Costa thực hiện ở phút 71 với cú đá chân trái từ 25 mét vào thẳng góc cao khung thành.&nbsp;</p>
            <p>
                Đội chủ nhà Darmstadt có cơ hội gỡ hòa ít phút sau đó nhưng hai cú dứt điểm liên tiếp đều tới đúng vị trí của thủ môn Neuer.</p>
            <p>
                Chiến thắng trên sân Darmstadt giúp Bayern trở lại ngôi đầu với cùng 36 điểm như RB Leipzig nhưng hơn hiệu số bàn thắng. Trong khi đó Darmstadt đã rơi xuống vị trí bét bảng với vỏn vẹn tám điểm sau 15 vòng.</p>
            <div style="text-align: center;">
                <div class="embed-container"><iframe class="parser_player_vnexpress" id="player_109861_0" width="480" height="270" src="http://video.vnexpress.net/parser.html?id=109861&amp;t=2&amp;ft=video&amp;si=1002565&amp;ap=0&amp;ishome=0&amp;player_id=109861_0" frameborder="0"
                        allowfullscreen=""></iframe></div>
            </div>
            <p>
                Sự so kè quyết liệt của Bayern và Leipzig khiến trận so găng trực tiếp giữa họ vào ngày 21/12 tới đây trở thành chung kết của lượt đi Bundesliga. Sau vòng 16, Bundesliga bước vào kỳ nghỉ đông trong một tháng.</p>
            <p>
                Trước trận đấu quan trọng gặp Leipzig trên sân nhà Allianz Arena, các cầu thủ Bayern dường như không duy trì được sự tập trung khi gặp Darmstadt. Đội bóng của HLV Ancelotti chơi không đúng phong độ và tạo ra được một số ít cơ hội. Lewandowski chỉ có một
                tình huống đá phạt đáng chú ý, điều trái ngược với thành tích ghi năm bàn ở ba trận gần nhất.</p>
            <p>
                Tuy nhiên chỉ cần một khoảnh khắc lóe sáng của ngôi sao Douglas Costa đã giúp Bayern bước vào cuộc chiến trước Leipzig với lợi thế ngôi đầu trong tay.</p>
            <p class="Normal" style="text-align:right;">
                <strong>Bảo Lam</strong></p>
        </div>
        <script type="text/javascript">
            if (typeof(Parser) != "undefined") {
                Parser.SITE_URL = "http://vnexpress.net";
                Parser.URL = "http://st.f2.vnecdn.net/responsive/j/v46";
                Parser.FLASH_URL = "http://st.f4.thethao.vnecdn.net/f/v1";
                Parser.SITE_ID = 1002565;
                Parser.AUTO_PLAY = 1;
                Parser.parseAll();
            }
            if (device_env != 1 && typeof(common.resizeImageDetail) != 'undefined') {
                common.resizeImageDetail();
                $(window).resize(function() {
                    common.delayFireOnce(1000).done(function() {
                        common.resizeImageDetail();
                    });
                });
            }
        </script>
        <div class="social_share width_common" id="social_like">
            <div class="item_social" data-component="true" data-component-type="like" data-component-objectid="3515473" data-component-siteid="1002565" data-objecttype="1" style="display: block;">
                <a class="btn_quantam" id="vne-like-anchor-1002565-3515473" href="#" total-like="0"></a>
                <div class="number_count"><span id="like-total-1002565-3515473">0</span></div>
            </div>
            <div class="luu_baiviet right myvne_save_for_later" data-token="eb7c2b63e7ce5f567c83157ac4392bfb" data-article-id="3515473"><a title="Lưu" href="javascript:;"><span class="icon_savebaiviet"></span><span>Lưu</span></a></div>
            <div class="item_social social_fb hidden_320" style="overflow: visible;">
                <div class="fb-like fb_iframe_widget" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-href="http://thethao.vnexpress.net/tin-tuc/cac-giai-khac/sieu-pham-sut-xa-dua-bayern-tro-lai-dinh-bundesliga-3515473.html"
                    fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fthethao.vnexpress.net%2Ftin-tuc%2Fcac-giai-khac%2Fsieu-pham-sut-xa-dua-bayern-tro-lai-dinh-bundesliga-3515473.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450"><span style="vertical-align: bottom; width: 79px; height: 20px;"><iframe name="f3a19e67974776" width="450px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FiPrOY23SGAp.js%3Fversion%3D42%23cb%3Df335e7bdf7e171c%26domain%3Dthethao.vnexpress.net%26origin%3Dhttp%253A%252F%252Fthethao.vnexpress.net%252Ff1c9a5fd08fc06c%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fthethao.vnexpress.net%2Ftin-tuc%2Fcac-giai-khac%2Fsieu-pham-sut-xa-dua-bayern-tro-lai-dinh-bundesliga-3515473.html&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450" style="border: none; visibility: visible; width: 79px; height: 20px;" class=""></iframe></span></div>
            </div>
            <div class="item_social social_twitter hidden_320"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.3748f7cda49448f6c6f7854238570ba0.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fthethao.vnexpress.net%2Ftin-tuc%2Fcac-giai-khac%2Fsieu-pham-sut-xa-dua-bayern-tro-lai-dinh-bundesliga-3515473.html&amp;size=m&amp;text=Si%C3%AAu%20ph%E1%BA%A9m%20s%C3%BAt%20xa%20%C4%91%C6%B0a%20Bayern%20tr%E1%BB%9F%20l%E1%BA%A1i%20%C4%91%E1%BB%89nh%20Bundesliga%20-%20VnExpress%20Th%E1%BB%83%20Thao&amp;time=1482113246137&amp;type=share&amp;url=http%3A%2F%2Fbit.ly%2F2hgfo91"
                    style="position: static; visibility: visible; width: 61px; height: 20px;" data-url="http://bit.ly/2hgfo91"></iframe></div>
            <div class="item_social social_plus hidden_320">
                <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0"
                        width="100%" id="I0_1482113245187" name="I0_1482113245187" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=vi&amp;origin=http%3A%2F%2Fthethao.vnexpress.net&amp;url=http%3A%2F%2Fthethao.vnexpress.net%2Ftin-tuc%2Fcac-giai-khac%2Fsieu-pham-sut-xa-dua-bayern-tro-lai-dinh-bundesliga-3515473.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.vX50YcwVzbM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNqG3wwCWr4MMB2Jrs7f62n4Wp_0w#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1482113245187&amp;parent=http%3A%2F%2Fthethao.vnexpress.net&amp;pfname=&amp;rpctoken=36878375"
                        data-gapiattached="true" title="+1"></iframe></div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</body>

</html>
